<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Source+sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Django Blog </title>
</head>
<body>
    <header>
        
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Billz Django blogs</a></h1>
        </div>

        <div class="nav-right">
            <h3><a href="{% url 'post_new' %}">New blog Post</a></h3>
        </div>
        {% if request.user.is_authenticated %}
            <span style="margin-right: 10px;">Hello, {{request.user}} </span>
            <span> | </span>
            <span style="margin-right: 20px; margin-left: 10px;"><a href="{% url 'logout' %}"> Logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}">Login | Register</a></span>
        
        {% endif %}
       
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>